<div class="container-fluid">
    <div class="row">
        <div class="col-sm custom-spacing text-white">
            <div class="foot-panel-1">
                <ul>
                    <h3><u>Meta</u></h3>
                    <p>> Login</p>
                    <p>> Entry feed</p>
                    <p>> Comment feed</p>
                    <p>> Wordpress.org</p>
                </ul>
                <ul>
                    <h3><u>Meta</u></h3>
                    <p>> Login</p>
                    <p>> Entry feed</p>
                    <p>> Comment feed</p>
                    <p>> Wordpress.org</p>
                </ul>
                <ul>
                    <h3><u>Meta</u></h3>
                    <p>> Login</p>
                    <p>> Entry feed</p>
                    <p>> Comment feed</p>
                    <p>> Wordpress.org</p>
                </ul>
                <ul>
                    <h3><u>Meta</u></h3>
                    <p>> Login</p>
                    <p>> Entry feed</p>
                    <p>> Comment feed</p>
                    <p>> Wordpress.org</p>
                </ul>
            </div>
        </div>
    </div>
</div>
